---
layout: single
excerpt: "Sonification, auditory display, aesthetics, security, visualization, HCI, digital living."
header:
  overlay_image: milky-way.jpeg
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"  
  #overlay_color: rgb(253, 153, 0)
  #overlay_color: rgb(253,153,0)
sidebar:
  nav: foo
---

<p>My research is in the following main areas. I am especially interested in the points at which these topics intersect:</p>
<ul>
<li>Sonification & Auditory Display</li>
<li>Network security</li>
<li>Visualisation</li>
<li>Aesthetic Computing</li>
<li>Embodied Interaction</li>
<li>Computing & Music</li>
</ul>

<p>My publications page lists some of my recent work.</p>

<p>Also see the <a href ="http://computing.unn.ac.uk/staff/cgpv1/caitlin/">CAITLIN project’s web site</a>.</p>

<p>If you are interested in working with me as a collaborator, as a PhD student or on a BSc/MSc dissertation please get in touch.</p>


{% include base_path %}

<h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h2>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}